<template>
  <div class="app">
    <div class="navbar">
        <div class="navbar_item" @click="loadVal()">Загрузить справочник валют</div>
        <div class="navbar_item" @click="loadCurs(curValuteID,false)">Загрузить курсы</div>
        <div class="navbar_item" @click="loadCurs(curValuteID,true)">Показать курсы (Локально)</div>
        <input class="navbar_item"
          v-model="parser_from"
          type="date"
          placeholder="Дата начала"
        />
        <input class="navbar_item"
          v-model="parser_to"
          type="date"
          placeholder="Дата конца"
        />
        <div class="navbar_item">{{curValuteName}}</div>
    </div>
    <div class="content">
      <div class="messages">
          <h4 v-if = "error">{{error}}</h4>
          <h4 v-if = "message">{{message}}</h4>
          <h4 v-show = "loading">Загружаем...</h4>
      </div>
      <div class="boxes">
        <div class="box__data">
            <div class = "box__data__elem__val"
                 v-show = "Valutes"
                 v-for = "Valute in Valutes"
                 key = "Valute.ID"
                 @click="setVal(Valute.ID, Valute.Name)"
            >
                {{Valute.Name}}
           </div>
        </div>
        <div class="box__data">
          <div class = "box__data__elem__curs"
               v-show = "Curses"
               v-for = "Curse in Curses"
               key = "Curse.ID"
          >
              <div class="box__data__elem__curs__elem">
                  {{Curse.Date}}
              </div>
              <div class="box__data__elem__curs__elem">
                  {{Curse.Value}}
              </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import Navbar from "@/components/Navbar";
export default {
  data() {
    return {
      error : null,
      message : null,
      loading : 0,
      Valutes : [],
      Curses : [],
      curValuteID : 0,
      curValuteName : null,
      parser_from : '',
      parser_to   : ''
    }
  },

  methods: {
    setVal(id, name) {
        // console.log(id + ' ' + name);
        this.curValuteID = id;
        this.curValuteName = name;
        this.message = null;
        this.Curses = [];
    },

    async loadVal() {
      this.error = null;
      this.message = null;
      this.loading = 1;
      const init = {
          method: 'get',
          headers:{
              'Content-Type': 'application/json',
              // 'Authorization': 'Bearer '.$accessToken,
              'Accept': 'application/json',
          }
      };
      // 'headers' => [
      //     'Accept' => 'application/json',
      //     'Authorization' => 'Bearer '.$accessToken,
      // ]
      let response = await fetch(process.env.VUE_APP_API_URL + 'fromrfval', init)
      if (response.ok) {
          // console.log(response);
          let json = await response.json();
          // .then.then(json =>{const items = json.map( obj =>{ return obj})})
          // console.log(json);
          if (json.succsess == 1) {

              this.Valutes = json.data;
              this.message = 'Справочник валют успешно обновлен!'
          } else {
              this.error = 'Ошибка при загрузки из ' + response.url + ' ' + json.error;
          }
      } else {
          this.error = 'Ошибка при загрузки из ' + response.url + ' ' + response.statusText;
      }
      this.loading = 0;
    },

    async loadCurs(ValID, local) {
      this.error = null;
      this.message = null;
      this.loading = 1;
      // console.log(local);
      if (!this.curValuteID) {
          this.loading = 0;
          this.message = "Выберите валюту для загрузки курсов";
          return;
      }
      const init = {
          method: 'get',
          headers:{
              'Content-Type': 'application/json',
              // 'Authorization': 'Bearer '.$accessToken,
              'Accept': 'application/json',
          }
      };
      // ?date_req1=02/03/2001&date_req2=14/03/2001&VAL_NM_RQ=R01235
      const path = local ?
          process.env.VUE_APP_API_URL + 'api/curse' + '?date_from=' + this.parser_from + '&date_to=' + this.parser_to + '&valueID=' + ValID :
          process.env.VUE_APP_API_URL + 'fromrfcurs' + '?date_req1=' + this.parser_from + '&date_req2=' + this.parser_to + '&VAL_NM_RQ=' + ValID;
      // if (local){
      //     path = process.env.VUE_APP_API_URL + 'api/curse' + '?date_from=' + this.parser_from + '&date_to=' + this.parser_to + '&ValueID=' + ValID;
      // } else {
      //     path = process.env.VUE_APP_API_URL + 'fromrfcurs' + '?date_req1=' + this.parser_from + '&date_req2=' + this.parser_to + '&VAL_NM_RQ=' + ValID;
      // }
      let response = await fetch(path, init);
      if (response.ok) {
          // console.log(response);
          let json = await response.json();
          // .then.then(json =>{const items = json.map( obj =>{ return obj})})
          // console.log(json.succsess);
          if (json.succsess == 1) {

              this.Curses = json.data;
              this.message = 'Справочник курсов успешно обновлен!'
          } else {
              this.error = 'Ошибка при загрузки из ' + response.url + ' ' + json.error;
          }
      } else {
          this.error = 'Ошибка при загрузки из ' + response.url + ' ' + response.statusText;
      }
      this.loading = 0;

    }
  },
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  padding: 20px;
}
.navbar {
  height: 50px;
  background-color: lightgray;
  box-shadow: 2px 2px 4px gray;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.btn {
  margin-right: 10px;
  padding: 10px 15px;
  background: none;
  color: #755A57;
  border: 1px solid #755A57;
  max-height: 100px;
  cursor: pointer;
}
.navbar_item {
    margin-left: 10px;
    cursor: pointer;
}
.messages {
    height: 100px;
    border: 2px solid #755A57;
}
.boxes{
    display: flex;
    align-items: flex-start;
}
.box__data {
    flex-basis: 50%;
    min-height: 300px;
    /* border: 2px solid #755A57; */
    margin-bottom: 10px;
}
.box__data__elem__val {
    cursor: pointer
}
.box__data__elem__curs {
    display: flex;
    align-items: flex-start;
}
.box__data__elem__curs__elem{
    flex-basis: 50%;
}
</style>
